@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime</title>
    <link rel="stylesheet" href="~/assets/css/style.css" />
</head>
<body>
    <div class="box" style="top:100px;left:100px"></div>

    <script src="~/libs/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/assets/js/app.js"></script>
</body>
</html>